@*@model MvcApplication.DAL.FoodRepository*@
@model IQueryable<MvcApplication.DAL.Food>
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    @*@Scripts.Render("~/bundles/Angular/js")*@
    @Scripts.Render("~/bundles/home")
    @Scripts.Render("~/bundles/index2")
}

<div class="container theme-showcase" role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Index Page2</h1>
        <p>This page contains content for the Index Page.</p>
        @*<p><a href="#" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>*@
    </div>

    <div class="page-header">
        <h1>Food Data</h1>
    </div>

    <div data-ng-controller="foodController">
        <h1>Angular Data</h1>
        <form name="foodInput" novalidate data-ng-submit="submit()">
        Enter Food Name: <input type="text" data-ng-model="foodInput.Value" data-ng-model="foodInput.Value" ng-change="change()" />
        <input type="submit" class="btn" value="Search" />
        </form>
        <p class="test">{{foodInput.Value}}</p>

        <div style="border:1px solid black">
            <h2>Angular Data Multiple</h2>
            <p>Data Count: {{dataMultiple.length}}</p>
            <div data-ng-repeat="i in dataMultiple">
                <ul>
                    @*<li>{{i.FoodID}}</li>*@
                    <li>{{i.Name}}</li>
                </ul>
                <hr />
            </div>
        </div>
        <div class="progress progress-striped active" data-ng-show="isBusy"></div>
        <div style="border:1px solid black">
            <h2>Angular Data Single</h2>
            <p>Data Count: {{dataSingle.length}}</p>
            <ul>
                <li>{{dataSingle.FoodID}}</li>
                <li>{{dataSingle.Name}}</li>
            </ul>
        </div>

    </div>

    <div>
        <h2>Looping through MVC Model</h2>
        <table>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.ShortName</td>
                </tr>
            }
        </table>
    </div>
</div>
