@*@model MvcApplication.DAL.FoodRepository*@
@model IQueryable<MvcApplication.DAL.Food>
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    @*@Scripts.Render("~/bundles/Angular/js")*@
    @Scripts.Render("~/bundles/home")
    @Scripts.Render("~/bundles/index2")
}

<div class="container theme-showcase" role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Index Page2</h1>
        <p>This page contains content for the Index Page.</p>
        @*<p><a href="#" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>*@
    </div>

    <div class="page-header">
        <h1>Food Data</h1>
    </div>

    <h1>Typeahead.js</h1>
    <div id="typeahead">
        <input class="typeahead" type="text" placeholder="States of USA">
    </div>

    <h1>Food Typeahead</h1>
    <div id="remote">
        <form id="FoodForm" name="foodInput2">
            <input id="typeaheadValue" class="typeahead" type="text" placeholder="Food Name">
            <input type="submit" class="btn" value="Search" />
        </form>
    </div>

    <div id="returnValue"></div>

    <h1>JQuery</h1>
    <form>
        <div class="form-group">
            <input type="text" id="input2" list="foodList2" />
            <datalist id="foodList2"></datalist>
            <p id="output2">(output 2)</p>
        </div>
    </form>

    <h1>Angular</h1>
    <div data-ng-controller="foodController">
        <form name="foodInput" novalidate data-ng-submit="submit()">
        @*Enter Food Name: <input type="text" data-ng-model="foodInput.Value" ng-change="change()" />*@
        Enter Food Name: <input type="text" list="foodList" data-ng-model="foodInput.Value" ng-change="change()" />
            <datalist id="foodList">
                <select id="dummy">
                    <option data-ng-repeat="i in dataMultiple" ng-click="click()" value="{{i.Name}}">{{i.Name}}</option>
                </select>
            </datalist>
        <input type="submit" class="btn" value="Search" />
        </form>
        <p class="test">{{foodInput.Value}}</p>

        <div style="border:1px solid black">
            <h2>Angular Data Multiple</h2>
            <p>Data Count: {{dataMultiple.length}}</p>
            <div>
                <ul>
                    @*<li>{{i.FoodID}}</li>*@
                    <li data-ng-repeat="i in dataMultiple">{{i.Name}}</li>
                </ul>
                <hr />
            </div>
        </div>
        <div class="progress progress-striped active" data-ng-show="isBusy"></div>
        <div style="border:1px solid black">
            <h2>Angular Data Single</h2>
            <p>Data Count: {{dataSingle.length}}</p>
            <ul>
                <li>{{dataSingle.FoodID}}</li>
                <li>{{dataSingle.Name}}</li>
            </ul>
        </div>

    </div>

    <div>
        <h2>Looping through MVC Model</h2>
        <table>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.ShortName</td>
                </tr>
            }
        </table>
    </div>
</div>
